<div class="page-header">
	<h1>
		Employees
		<a href="#/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Employee
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Employees...</p>
</div>

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-1 control-label">Filter</label>
		<div class="col-sm-4">
			<input type="search" class="form-control" ng-model="search">
		</div>
	</div>
</div>

<table class="table table-bordered table-striped" ng-show="user.users">
	<thead>
		<tr>
			<th>Email</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Phone</th>
			<th>Active</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users | filter:search">
			<td>{{ person.email }}</td>
			<td>{{ person.firstname }}</td>
			<td>{{ person.lastname }}</td>
			<td>{{ person.phone }}</td>
			<td ng-if="person.active == true">
				<span class="glyphicon glyphicon-ok"></span>
			</td>
			<td ng-if="person.active == false">
				<span class="glyphicon glyphicon-remove"></span>
			</td>
			<td class="col-sm-2">
				<a ng-href="#/users/{{ person.id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="user.deleteUser(person.id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
