<div class="page-header">
	<h1 ng-if="user.type == 'create'">Create Employee</h1>
	<h1 ng-if="user.type == 'edit'">Edit Employee</h1>
</div>

<form name="userForm" class="form-horizontal" ng-submit="user.saveUser(userForm.$valid)" novalidate>

	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-6">
			<input type="email" name="email" class="form-control" ng-model="user.userData.email">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Firstname</label>
		<div class="col-sm-6">
			<input type="text" ng-change="user.clean()" class="form-control" ng-model="user.userData.firstname">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Lastname</label>
		<div class="col-sm-6">
			<input type="text" ng-change="user.clean()" class="form-control" ng-model="user.userData.lastname">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-6">
			<input type="text" name="phone" ng-change="user.clean()" class="form-control" ng-model="user.userData.phone" ng-minLength="10" ng-maxLength="10">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Active</label>
		<div class="col-sm-6">
			<input type="checkbox" ng-model="user.userData.active">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'create'">Create Employee</button>
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'edit'">Update Employee</button>
		</div>
	</div>

</form>

<div class="row show-hide-message">
	<div class="col-sm-6 col-sm-offset-2">

		<div class="alert alert-success" ng-show="user.success">
			{{ user.success }}
		</div>

		<div class="alert alert-danger" ng-show="user.alert || userForm.$invalid && userForm.$submitted">
			{{ user.alert }}
			<div ng-show="userForm.email.$invalid">Enter a valid email.</div>
			<div ng-show="userForm.phone.$invalid">Enter 10 digit phone number.</div>
		</div>

	</div>
</div>
